body{
    background-image: url("https://picsum.photos/id/1025/600/400");
    background-repeat: no-repeat;
    background-size:   100%;
    background-attachment: scroll;
}

#primeiroParagrafo{
    border: 2px solid blue;
    border-radius: 10px;
}

img{
    border-radius: 10px;
}
#imagem{ 
border: 10px solid purple;
}